name: Plugins - CI
permissions:
  contents: read
  id-token: write

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    name: CI
    uses: grafana/plugin-ci-workflows/.github/workflows/ci.yml@ci-cd-workflows/v4.3.0
    # https://github.com/grafana/plugin-ci-workflows/releases?q=ci-cd-workflows
    with:
      go-version: '1.25'
      golangci-lint-version: '2.4.0'
      plugin-version-suffix: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || '' }}
      run-playwright: true
